# pandas笔记

## 数据读取

In [38]:
import pandas as pd
import numpy as np
import os

filepath="C:\\Users\\ma\\Desktop\\唐宇迪-机器学习课程\\Python库代码（4个）\\2-数据分析处理库pandas\\titanic_train.csv"
pwd=os.getcwd()
os.chdir(os.path.dirname(filepath))
df = pd.read_csv(os.path.basename(filepath))
os.chdir(pwd)
print(type(df))
print(df.dtypes)
#print(help(pd.read_csv))

<class 'pandas.core.frame.DataFrame'>
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### 显示前几行

In [24]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### 显示后几行

In [25]:
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [26]:
print(df.columns)
#显示列名
print(df.shape)
#显示数据规模

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(891, 12)

In [14]:
print(df.loc[1])
#显示某行数据
print(df.loc[1:3])
#显示某几行数据

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S

In [23]:
lie1=df["PassengerId"]
print(lie1.head(3))
#显示某列

0    1
1    2
2    3
Name: PassengerId, dtype: int64

In [22]:
nlie=["PassengerId","Survived"]
print(df[nlie].head(3))
#显示多列

   PassengerId  Survived
0            1         0
1            2         1
2            3         1

In [19]:
col_names=df.columns.tolist()
print(col_names)
#打印列名

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [21]:
#endswith用法
ed_end=[]

for lie in col_names:
    if lie.endswith("ed"):
        ed_end.append(lie)
print(df[ed_end].head(3))

   Survived Embarked
0         0        S
1         1        C
2         1        S

## 数据预处理实例

### 3.2.1  sort_values排序（默认按升序）

In [31]:
df.sort_values("Survived",inplace=True,ascending=False)
print(df["Survived"].head(3))

445    1
670    1
334    1
Name: Survived, dtype: int64

### 3.2.2  缺失值处理

In [35]:
age=df["Age"]
age_is_null=pd.isnull(age)
print(age_is_null.head(3))
print("--"*15)
age_null_true=age[age_is_null]
print(age_null_true.head(3))
print("--"*15)
age_null_count=len(age_null_true)
print(age_null_count)

445    False
670    False
334     True
Name: Age, dtype: bool
------------------------------
334   NaN
330   NaN
692   NaN
Name: Age, dtype: float64
------------------------------
177

## 3.3 pandas常用预处理方法

In [36]:
#求平均生存率
print(df["Survived"].mean())

0.3838383838383838

### 3.3.1 pivot_table()数据透视表 ,交叉分析，aggfunc默认为mean

In [43]:
#不同船舱的生存率,另外，pivot_table还有columns等其他参数
Pclass_Survived=df.pivot_table(index="Pclass",values="Survived",aggfunc=np.mean)
print(Pclass_Survived)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [45]:
#不同船舱的平均年龄
Pclass_Age=df.pivot_table(index="Pclass",values="Age",aggfunc=np.mean)
print(Pclass_Age)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [46]:
#一个列同其他多列之间的交叉分析
Embarked_Fare_Survived=df.pivot_table(index="Embarked",values=["Fare","Survived"],aggfunc=np.sum)
print(Embarked_Fare_Survived)
#缺点：多列使用的统计函数必须一致，不能对不同列使用不同统计函数

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

### 3.3.2 dropna丢弃缺失值

In [48]:
#根据某些指定列。丢弃缺失值
drop_na_columns=df.dropna(axis=0,subset=["Age","Sex"])

### 3.3.3  loc找到某个（行、列）确定位置的值

In [50]:
row83_Age=df.loc[83,"Age"]
print(row83_Age)

28.0

## 3.4 pandas自定义函数

### 3.4.1 reset_index(drop=True)更新索引

In [52]:
#对数据降序排序，排序后还是用原索引
new_df=df.sort_values("Age",ascending=False)
print(new_df.head(3))
print("--"*15)
new_df1=new_df.reset_index(drop=True)
print(new_df1.head(3))

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon

      Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
630  male  80.0      0      0     27042  30.0000   A23        S
851  male  74.0      0      0    347060   7.7750   NaN        S
493  male  71.0      0      0  PC 17609  49.5042   NaN        C
------------------------------
   PassengerId  Survived  Pclass                                  Name   Sex  \
0          631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1          852         0       3                   Svensson, Mr. Johan  male
2          494         0       1               Artagaveytia, Mr. Ramon  male

    Age  SibSp  Parch    Ticket     Fare Cabin Embarked
0  80.0      0      0     27042  30.0000   A23        S
1  74.0      0      0    347060   7.7750   NaN        S
2  71.0      0      0  PC 17609  49.5042   NaN        C

### 3.4.2 自定义函数，计算每列na值的个数

In [57]:
def not_na_count(column):
    column_null=pd.isnull(column)
    null=column[column_null]
    return len(null)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
------------------------------
177

### 计算DataFrame中每列na值个数

In [58]:
column_null_count=df.apply(not_na_count)
print(column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### 计算某列na值个数

In [59]:
Age_null_count=not_na_count(df["Age"])
print(Age_null_count)

177

## 3.5 Series结构

### 说明：pandas是封装在numpy基础之上的。DataFrame-->Series-->ndarray

In [63]:
print(type(df))
print("--"*15)
print(type(df["Age"]))
print("--"*15)
print(type(df["Age"].values))

<class 'pandas.core.frame.DataFrame'>
------------------------------
<class 'pandas.core.series.Series'>
------------------------------
<class 'numpy.ndarray'>

In [64]:
from pandas import Series

filepath="C:\\Users\\ma\\Desktop\\唐宇迪-机器学习课程\\Python库代码（4个）\\2-数据分析处理库pandas\\data-master\\fandango_score_comparison.csv"
pwd=os.getcwd()
os.chdir(os.path.dirname(filepath))
dy = pd.read_csv(os.path.basename(filepath))
os.chdir(pwd)
print(dy.head(3))

                             FILM  RottenTomatoes  RottenTomatoes_User  \
0  Avengers: Age of Ultron (2015)              74                   86
1               Cinderella (2015)              85                   80
2                  Ant-Man (2015)              80                   90

   Metacritic  Metacritic_User  IMDB  Fandango_Stars  Fandango_Ratingvalue  \
0          66              7.1   7.8             5.0                   4.5
1          67              7.5   7.1             5.0                   4.5
2          64              8.1   7.8             5.0                   4.5

   RT_norm  RT_user_norm         ...           IMDB_norm  RT_norm_round  \
0     3.70           4.3         ...                3.90            3.5
1     4.25           4.0         ...                3.55            4.5
2     4.00           4.5         ...                3.90            4.0

   RT_user_norm_round  Metacritic_norm_round  Metacritic_user_norm_round  \
0                 4.5                    3.5                         3.5
1                 4.0                    3.5                         4.0
2                 4.5                    3.0                         4.0

   IMDB_norm_round  Metacritic_user_vote_count  IMDB_user_vote_count  \
0              4.0                        1330                271107
1              3.5                         249                 65709
2              4.0                         627                103660

   Fandango_votes  Fandango_Difference
0           14846                  0.5
1           12640                  0.5
2           12055                  0.5

[3 rows x 22 columns]

### 将列“FILM”作为索引 ，然后用该索引访问数据

In [68]:
dy_new=Series(dy["RottenTomatoes"].values,index=dy["FILM"].values)
print(dy_new[5:8])

The Water Diviner (2015)    63
Irrational Man (2015)       42
Top Five (2014)             86
dtype: int64

### 3.5.1 对Series排序，用sort_index()或sort_values()方法

In [70]:
#根据索引（键）进行排序
sc1=dy_new.sort_index()
print(sc1[0:5])
print("--"*15)
#根据值进行排序
sc2=dy_new.sort_values()
print(sc2[0:5])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64
------------------------------
Paul Blart: Mall Cop 2 (2015)    5
Hitman: Agent 47 (2015)          7
Hot Pursuit (2015)               8
Fantastic Four (2015)            9
Taken 3 (2015)                   9
dtype: int64

### 相同维度的Series之间可进行运算

### 对DataFrame，也可以用DataFrame.set_index("列名",drop=False) 将某列作为索引，这时仍然可以用数值（作为索引）查询

In [71]:
#空

In [72]:
#空

In [73]:
#空

In [74]:
#空

In [75]:
#空

In [76]:
#空

In [77]:
#空

In [78]:
#空

In [79]:
#空

In [80]:
#空

In [81]:
#空

In [82]:
#空

In [83]:
#空

In [84]:
#空

In [85]:
#空

In [86]:
#空

In [87]:
#空

In [88]:
#空

In [89]:
#空

In [90]:
#空

In [91]:
#空

In [92]:
#空

In [93]:
#空

In [94]:
#空

In [95]:
#空

In [96]:
#空

In [97]:
#空

In [98]:
#空

In [99]:
#空

In [100]:
print(df.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C